view,swiper,swiper-item{
	box-sizing: border-box;
}

.pageBg{
	background: 
	linear-gradient(to bottom,transparent 0%, #fff 400rpx),
	linear-gradient(to left,#beecd8 20%,#b2e0fa);
	min-height: 80vh;
}
.pageBg2{
	background:
	linear-gradient(to bottom,transparent 0%, #fff 1000rpx),
	linear-gradient(to left,#beecd8 20%,#b2e0fa);
	min-height: 80vh;
}

.loadingLayout{
	padding: 30rpx 0;
}

.safe-area-inset-bottom{
	height: 60rpx;
}